// Colours
$primary: #101010;
$secondary: #202020;
$tertiary: #404040;
$highlight: #e02f5a;
$highlight-dark: darken($highlight, 10%);
$green: #15c756;

// Spacing
$spacing-small: 5px;
$spacing-medium: 10px;

// Font weights
$regular: 400;
$bold: 500;
