// Colours
$bg-primary: #040404;
$material-pink-primary: #E91E63;
$material-pink-secondary: #F8BBD0;
$material-grey-primary: #212121;
$material-grey-secondary: #9E9E9E;

$primary: #101010;
$secondary: #202020;
$tertiary: #404040;
$highlight: #e02f5a;

// Spacing
$spacing-small: 5px;
$spacing-medium: 10px;

// Font weights
$regular: 400;
$bold: 500;

// Font sizes
$settings-header: 13px;
$settings-icon: 12px;

// Border
$border-radius: 3px;
